body {
    font-family: 'Muli', sans-serif !important;
    font-weight: 400;
}

// Below code is for sticky footer
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}
// end sticky footer code
